In [2]:
import mysql.connector
import json

In [3]:
db = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Krishna@448',
        database='projectRev'
    )

In [8]:
cursor = db.cursor()

In [15]:
with open('customers.json', 'r') as json_file1:
    data = json.load(json_file1)

In [17]:
class CustomersTable:
    def __init__(self, cursor):
        self.cursor = cursor

    def create_table(self):
        self.cursor.execute("SHOW TABLES LIKE 'Customers'")
        if not self.cursor.fetchall():
            self.cursor.execute("""
                CREATE TABLE customers (
                    customer_id INT PRIMARY KEY,
                    customer_name VARCHAR(100) NOT NULL,
                    country VARCHAR(100) NOT NULL,
                    city VARCHAR(50) NOT NULL
                );
            """)
            print("Table 'Customers' created successfully")
        else:
            print("Table 'Customers' already exists")

In [24]:
T1 = CustomersTable(cursor)
T1.create_table()

Table 'Customers' already exists

In [20]:
cursor.execute("alter table customers drop primary key")

In [21]:
for item in data:
    val = (item['customer_id'],item['customer_name'],item['country'],item['city'])
    sql = "insert into customers(customer_id, customer_name, country, city) values(%s,%s,%s,%s)"
    cursor.execute(sql,val)
    db.commit()

In [23]:
cursor.execute("select * from customers limit 10;")
result = cursor.fetchmany(size = 10)
for i in result:
    print(i)

(102, 'Kenneth Singh', 'Sweden', 'Davidhaven')
(106, 'Mr. James Mendez', 'British Indian Ocean Territory (Chagos Archipelago)', 'Paulmouth')
(109, 'Joseph Martin', 'Somalia', 'Port Vickiemouth')
(135, 'Joann Romero', 'Timor-Leste', 'Port Raymondmouth')
(144, 'Robert Reeves', 'Wallis and Futuna', 'Lake Jason')
(145, 'Jasmine Dean', 'Tuvalu', 'Scotthaven')
(147, 'Charles Becker', 'Isle of Man', 'East Cindyfurt')
(158, 'Anthony Bowman', 'Latvia', 'Carriebury')
(159, 'Desiree Edwards', 'Central African Republic', 'North Williammouth')
(161, 'Kyle Lee', 'Greece', 'Jamesberg')