In [13]:
import mysql.connector
import json

In [14]:
db = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Krishna@448',
        database='projectRev'
    )

In [15]:
cursor = db.cursor()

In [16]:
with open("transaction_logs.json",'r') as g:
    data1 = json.load(g)

In [17]:
class PaymentsTable:
    def __init__(self, cursor):
        self.cursor = cursor

    def create_table(self):
        self.cursor.execute("SHOW TABLES LIKE 'payments'")
        if not self.cursor.fetchall():
            self.cursor.execute("""
                CREATE TABLE payments (
                    payment_txn_id VARCHAR(100),
                    order_id INT NOT NULL,
                    payment_type VARCHAR(100) NOT NULL,
                    payment_txn_success VARCHAR(50) NOT NULL,
                    failure_reason VARCHAR(100)
                );
            """)
            print("Table 'payments' created successfully")
        else:
            print("Table 'payments' already exists")

In [18]:
T4 = PaymentsTable(cursor)
T4.create_table()

Table 'payments' already exists

In [20]:
for item in data1:
    val = (item['payment_txn_id'], item['order_id'], item['payment_type'], item['payment_txn_success'], item['failure_reason'])
    sql = "insert into payments(payment_txn_id, order_id, payment_type, payment_txn_success, failure_reason) values(%s,%s,%s,%s,%s)"
    cursor.execute(sql,val)
    db.commit()

In [21]:
cursor.execute("select * from payments limit 10;")
result = cursor.fetchmany(size = 10)
for i in result:
    print(i)

('a395e8c7', 1, 'Wallet', 'N', 'Card Expired')
('b40791f8', 2, 'Card', 'N', 'Invalid CVV')
('7fb6cca9', 3, 'Card', 'N', 'Blocked Card')
('cae677f3', 4, 'Card', 'N', 'Transaction Timeout')
('fbce1649', 5, 'Card', 'N', 'Invalid CVV')
('ebc84512', 6, 'UPI', 'Y', '')
('e407cea7', 7, 'Wallet', 'N', 'Invalid CVV')
('048ee87d', 8, 'Internet Banking', 'N', 'Card Expired')
('fa29f46d', 9, 'Wallet', 'N', 'Transaction Timeout')
('ef2606ef', 10, 'Wallet', 'Y', '')