In [1]:
import mysql.connector
import json

In [2]:
db = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Krishna@448',
        database='projectRev'
    )

In [3]:
cursor = db.cursor()

In [4]:
with open("transaction_logs.json",'r') as g:
    data1 = json.load(g)

In [5]:
class OrdersTable:
    def __init__(self, cursor):
        self.cursor = cursor

    def create_table(self):
        self.cursor.execute("SHOW TABLES LIKE 'orders'")
        if not self.cursor.fetchall():
            self.cursor.execute("""
                CREATE TABLE orders (
                    order_id INT PRIMARY KEY,
                    customer_id INT NOT NULL,
                    datetime DATETIME NOT NULL,
                    ecommerce_website_name VARCHAR(100) NOT NULL
                );
            """)
            print("Table 'orders' created successfully")
        else:
            print("Table 'orders' already exists")

In [6]:
T2 = OrdersTable(cursor)
T2.create_table()

Table 'orders' already exists

In [ ]:
cursor.execute("alter table orders drop primary key")

In [5]:
for item in data1:
    val = (item['order_id'],item['customer_id'],item['datetime'],item['ecommerce_website_name'])
    sql = "insert into orders(order_id, customer_id, datetime, ecommerce_website_name) values(%s,%s,%s,%s)"
    cursor.execute(sql,val)
    db.commit()

In [6]:
cursor.execute("select * from orders limit 10;")
result = cursor.fetchmany(size = 10)
for i in result:
    print(i)

(1, 1731, datetime.datetime(2021, 7, 26, 20, 16, 14), 'www.bestbuy.com')
(2, 5539, datetime.datetime(2021, 8, 25, 3, 41, 32), 'www.flipkart.com')
(3, 3507, datetime.datetime(2024, 6, 21, 21, 39, 21), 'www.target.com')
(4, 4826, datetime.datetime(2022, 9, 17, 13, 52, 11), 'www.amazon.in')
(5, 6538, datetime.datetime(2022, 3, 9, 7, 58, 8), 'www.etsy.com')
(6, 9648, datetime.datetime(2024, 5, 29, 15, 37, 37), 'www.amazon.in')
(7, 7940, datetime.datetime(2024, 2, 11, 15, 12, 49), 'www.amazon.com')
(8, 5798, datetime.datetime(2022, 10, 23, 23, 37, 42), 'www.walmart.com')
(9, 5539, datetime.datetime(2021, 7, 29, 23, 16, 11), 'www.tatacliq.com')
(10, 3937, datetime.datetime(2023, 10, 16, 18, 12, 20), 'www.amazon.com')