In [4]:
import mysql.connector
import json

In [5]:
db = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Krishna@448',
        database='projectRev'
    )

In [6]:
cursor = db.cursor()

In [7]:
with open("transaction_logs.json",'r') as g:
    data1 = json.load(g)

In [8]:
class ProductsTable:
    def __init__(self, cursor):
        self.cursor = cursor

    def create_table(self):
        self.cursor.execute("SHOW TABLES LIKE 'products'")
        if not self.cursor.fetchall():
            self.cursor.execute("""
                CREATE TABLE products (
                    product_id INT PRIMARY KEY,
                    customer_id INT NOT NULL,
                    product_name VARCHAR(100) NOT NULL,
                    product_category VARCHAR(100) NOT NULL,
                    quantity int NOT NULL,
                    price int NOT NULL
                );
            """)
            print("Table 'products' created successfully")
        else:
            print("Table 'products' already exists")

In [9]:
T3 = ProductsTable(cursor)
T3.create_table()

Table 'products' already exists

In [ ]:
cursor.execute("alter table products drop primary key")

In [11]:
for item in data1:
    val = (item['product_id'],item['customer_id'],item['product_name'],item['product_category'],item['qty'],item['price'])
    sql = "insert into products( product_id, customer_id, product_name, product_category, quantity, price) values(%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql,val)
    db.commit()

In [12]:
cursor.execute("select * from products limit 10;")
result = cursor.fetchmany(size = 10)
for i in result:
    print(i)

(438, 3502, 'These grocerie', 'Groceries', 13, 26015)
(453, 7940, 'Lose furnitur', 'Furniture', 28, 21742)
(545, 6601, 'Sort sport', 'Sports', 21, 92264)
(576, 3784, 'Grow electronic', 'Electronics', 32, 52886)
(670, 8381, 'Consumer grocerie', 'Groceries', 15, 6285)
(693, 5539, 'Region beaut', 'Beauty', 16, 67395)
(763, 2598, 'Three stationer', 'Stationery', 47, 81)
(1040, 8381, 'Main book', 'Books', 45, 82900)
(1145, 3507, 'Across stationer', 'Stationery', 28, 35491)
(1322, 1356, 'Short stationer', 'Stationery', 22, 30076)